@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #000;
  background-image: url('https://images.pexels.com/photos/6039245/pexels-photo-6039245.jpeg?auto=compress&cs=tinysrgb&w=1600');
  /* background-repeat: no-repeat; */
  background-repeat: repeat-x;
  background-origin: content-box;
  background-position: top;
  backdrop-filter: blur(6px);
  
  
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  
  
}

